/* rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: grey;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    text-align: center;
}

img{
    max-width: 100%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* header */

h1{
    margin-bottom: 20px;
}

/* main */

